/*display-block*/
body, html {
    margin: 0;
    padding: 0;
    background-color: aqua;

}
.boxes {
    display: flex;
    background-color: aqua ;
    justify-content: center;
    align-items: center;
    margin: 5px;    
}
.box {
    
    border: solid 1px chocolate; 
    background-color: beige;
    width: 100%;
    margin-bottom: 5px;
    padding: 0px;
    
   
        
    
}
@media (max-width:600px) {
    .boxes {
        flex-direction: column;
    }
    .box {
        flex: 1 1 100%;
    }
}
